@media (min-width: 0) {
  .movie_img {
    width: 100%;
    object-fit: cover;
  }

  .movie_img img {
    width: 100%;
  }

  .movie_item h1 {
    line-height: 1;
    font-size: 5vw;
  }
}

@media (min-width: 1024px) {
  .movie_img {
    width: 100%;
    object-fit: cover;
  }

  .movie_img img {
    width: 100%;
  }

  .movie_item h1 {
    line-height: 1;
    font-size: 3vw;
  }
}
